In [ ]:
!pip install word2number

In [53]:
import pandas as pd
import numpy as np

df = pd.read_csv('linear_reg_test.csv')
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [21]:
from IPython.display import display, HTML
display(HTML('<h1> First we do Data Preprocessing: Fill NA values with median value of a column</h1>'))

In [70]:
# !pip install word2number  # converting strings to number integers
import math, pandas as pd
from word2number import w2n   
df.experience = df.experience.fillna("zero")
df['experience'] = df['experience'].apply(w2n.word_to_num)
df['experience']

# df['test_score(out of 10)']
# median_score = math.floor(df['test_score(out of 10)'].median())
# median_score == 8.0
# df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(median_score)
# df['test_score(out of 10)']

0     0
1     0
2     5
3     2
4     7
5     3
6    10
7    11
Name: experience, dtype: int64

In [71]:
display(HTML('<h1> Now starting with Linear Regression </h1>'))
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    8.0                           7      72000
7          11                    7.0                           8      80000

In [72]:
from sklearn import linear_model
reg = linear_model.LinearRegression()
df['salary($)']
reg.fit(df.drop('salary($)',axis='columns'),df['salary($)']) 
# another way to get all the features of hiring process ,
# ( taking columns experience, test_score, interview_score ) 
# and giving target, df['salary'] ->  which we need to predict

LinearRegression()

In [73]:
display(HTML('<h1> Now we get coef_, intercept_,  </h1>'))

In [74]:
reg.coef_

array([2812.95487627, 1845.70596798, 2205.24017467])

In [75]:
reg.intercept_

17737.263464337688

In [77]:
display(HTML('<h1> Using coef, intercept , we can predict salary of any individual </h1>'))

In [84]:
reg.predict([[2,10,10]])

C:\Users\tushar.m\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([63872.63464338])